body {

}
.nav {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /*position: fixed;*/
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #98e6f4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.nav .active {
  background-color: #98e6f4;
  color: #111;
}

.mbli {
	margin-bottom: 4rem !important;
}